{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="row g-3 text-center">
    <div class="col">
        <h1 class="text-center h3 mb-3 fw-normal">Register</h1>

        {{ form_start(registrationForm, {'attr': {'class': 'form-signin'}}) }}
        <div class="form-floating">
            {{ form_widget(registrationForm.username, { 'attr': { 'class': 'form-control' }}) }}
            {{ form_label(registrationForm.username) }}
        </div>
        <div class="form-floating pb-2">
            {{ form_widget(registrationForm.plainPassword, {
                label: 'Password',
                'attr': {'class': 'form-control'}
            }) }}
            <label for="{{ registrationForm.plainPassword.vars.id }}">
                Password
            </label>
        </div>
            {{ form_widget(registrationForm.agreeTerms) }}
            {{ form_label(registrationForm.agreeTerms) }}
        <div class="form-floating pt-2">
            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        <div>
        {{ form_end(registrationForm) }}
        </div>
</div>
{% endblock %}
